html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/design/map_copy.jpg");
  background-position: 10%; 
  background-size: 1920px;
  font-family: 'Vollkorn SC', Times, Times New Roman, serif;
  color: white;
}

h1, h2, h3 {
  font-family: 'Vollkorn SC', Times, Times New Roman, serif;
}

.jumbotron{
  background-color: #dbd1c7 !Important;
	margin: 25px;
	font-family: 'Vollkorn SC', Times, Times New Roman, serif;
  color: #81533a !Important;
  
}


.question {
  font-family: 'Vollkorn SC', Times, Times New Roman, serif;
  color: white;
}

#newQuestion,.possibleAnswer, #theCorrectAnswer {
  font-family: 'Vollkorn SC', Times, Times New Roman, serif;
  color: white;
  font-size: 24px;
}

#timeLeft, #message, #finalScore, #correctAnswer,#wrongAnswer,#noAnswer{
  font-family: 'Vollkorn SC', Times, Times New Roman, serif;
  color: white;
  font-size: 36px;

}

.btn-primary{
  background-color: #81533a !Important;
  color:#dbd1c7 !Important;
  border-style: none !Important;
  font-family: 'Vollkorn SC', Times, Times New Roman, serif;
  font-size: 36px !Important;
  padding: 12px !Important;
  margin-top: 100px;
}

.btn-primary:hover{
  background-color: #4f260f !Important;
}

.container{
  margin-top: 50px;
  text-align: center;
  height: 100%;
  width: 700px;
}


.selectThis:hover{
  color: #e8c4b0;
  font-size: 28px;
  font-weight: 700;

}

#gif{
  margin: 30px;
  max-width: 400px;
  align: center;
}

@media screen and (max-width:640px){

  .container{
    width: 500px;
    margin-top: 200px;
    size: 200%;
  } 
}